.card-container {
    display: inline-flex;
    flex-direction: row;

}

.card {
    /* display: flex; */
    
    width: 145px;
    height: 192px;
    background-color: rgba(244,242,243);
    border-radius: 20px;
    margin: 30px 10px 0px 10px; 
    
}

.btnTranslate {
    border-radius: 5px;
    background-color:  rgb(47, 197, 47);
    padding: 2px 15px;
    display: inline-block;
    margin-top: 35px; 
    color: rgb(255, 253, 253);
    cursor: pointer;
}

.word {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

