$orangeColor:#F08A4B; //тёплый апельсиновый
$creamColor:#FCE6C9; //кремовый, как фон
$deepBlueColor:#2C3E50;// насыщенный тёмно-синий (для текста и акцентов)
$turquoiseColor:#4ABDAC;//#4ABDAC – бирюзовый, свежий
$yellowColor:#FFD166; //яркий жёлтый, акцентный
$deepGreen:#247B63; //гармонирует с бирюзовым и кремовым (для акцентов / тем)
$lightBlue:#D0F4F2; //(для фонов или карточек) освежает, контрастирует с жёлтым
$pink:#F9C6C9; //дружелюбный и мягкий, идёт к кремовому (добавляет уюта)
$purple:#C3B1E1; // разбавляет тёплые тона и даёт приятный контраст (второстепенные кнопки или темы)
$neutralGrey:#ECECEC;//сбалансировать яркие цвета, особенно в фоне

// Фон страницы: #FCE6C9
// Карточка слова: #FFFFFF с рамкой #4ABDAC
// Кнопка “Добавить”: #FFD166
// Заголовки: #2C3E50
// Иконки или темы: #F08A4B, #C3B1E1, #F9C6C9


